body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tv-header {
  background: linear-gradient(rgba(126, 126, 126, 0.7), rgba(15, 14, 15, 0.7),  rgba(15, 14, 15, 0.7),  rgba(15, 14, 15, 0.7)), url('/src/assets/tv-header.jpg');
  background-size: cover;
  width: 100%;
  height: 400px;
  background-position: 0%;
  color: white;
  padding: 1px 0;
  text-align: center;
  margin-bottom: 40px;
}

.tv-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.tv-page h1 {
  font-size: 40px;
  color: rgb(248, 241, 249);
  margin-top: 150px;
  margin-bottom: 20px;
}

.tv-page p {
  font-size: 20px;
  color: rgb(165, 165, 165);
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 80%;
  max-width: 600px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.categories {
  margin-bottom: 20px;
}

.categories button {
  background-color: #9b89a3;
  color: #edebee;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.categories button:hover {
  background-color: #1b0228;
}

.tv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.tv-item {
  background-color: #fff;
  border: 2px solid #d5d5d5;
  border-radius: 10px;
  box-shadow: 0 10px 4px rgba(0, 0, 0, 0.1);
  display: flexbox;
  width: 400px;
  column-gap: 20px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.6s;
  margin-bottom: 50px;
}

.tv-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.tv-item h2 {
  font-size: 1.2rem;
  color: #000;
  margin: 10px 0;
  margin-top: 20px;
  margin-bottom: 40px;
}

.tv-image {
  width: 200px;
  border-radius: 5px;
}

.tv-video-container {
  width: 400px;
  height: 300px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.tv-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
  
