/* Admin Dashboard CSS */
.admin-dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding-top: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 15px;
    text-align: center;
  }
  
  .sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 18px;
  }
  
  .sidebar ul li:hover {
    background-color: #444;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .main-content h2 {
    text-align: center;
  }
  
  .main-content h3 {
    text-align: center;
  }
  