/*.movies
{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rmovies{
    width: 100%;
    border-radius: 10px;
    display: block;
}

.movies{
    flex-basis: 31%;
}*/

.movies {
    margin: 40px 0 80px;
    width: 100%;
    display: block;
    position: relative;
  }
  
  .row {
    display: flex;
    justify-content: center; /* Space out the images */
    gap: 20px; /* Space between items in the row */
    flex-wrap: wrap;
    width: auto;
  }
  
  .top-row {
    margin-bottom: 30px; /* Space between top and bottom rows */
    justify-content: center;
    width: 100%;
  }
  
  .bottom-row {
    margin-top: 30px; /* Space between top and bottom rows */
   justify-content: center;
   width: 100%;
  }

  .movie{
    position: relative ;
    width: 31%;
    justify-content: center;
  }
  
  .movie img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    display: block;
    object-fit: cover;
    padding: 0;
  }
  
  .top-row .movie {
    flex-basis: 31%; /* Each movie takes up about 31% of the row width */
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .bottom-row .movie {
    flex-basis: 28%; 
  }

  .bottom-row .movie img{
    object-fit: cover;
  }
  
  .caption{
    /*border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;*/
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(227, 199, 210, 0.3); 
    color: black; /* To make the text stand out */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    height: 100%;
    opacity: 0;
    padding-top: 70%;
    transition: 0.4s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .movie:hover .caption{
    opacity: 1;
    padding-top: 0;
  }

  .movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}